{
  "mcpServers": {
    "mcp-dev-assist": {
      "command": "npx",
      "args": [
        "tsx",
        "mcp-dev-assist-local/src/index.ts",
        "--stdio"
      ],
      "env": {
        "GOOGLE_API_KEY": "${GOOGLE_API_KEY}",
        "GOOGLE_SEARCH_ENGINE_ID": "${GOOGLE_SEARCH_ENGINE_ID}"
      }
    }
  }
}